* {
    margin: 0;
    padding: 0;
  }
  
  canvas#canvas {
    display: block;
    background: #360033;
    background: -webkit-linear-gradient(to bottom, rgb(11, 135, 147), rgb(54, 0, 51));
    background: linear-gradient(to bottom, rgb(11, 135, 147), rgb(54, 0, 51)); 
  }
